/* GOOGLE FONT'S CDN LINK */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* GOOGLE FONT'S CDN LINK */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #3e8da8;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
nav .navbar
{
    max-width: 1250px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding: 0 50px;
}
nav .navbar .logo a
{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
nav .navbar .nav-links
{
    /* background: red; */
    height: 100%;
    line-height: 70px;
}
nav .navbar .nav-links .links
{
    display: flex;
}
nav .navbar .nav-links .links li
{
    position: relative;
    display: flex;
    align-items: center;
    list-style:none;
    padding: 0 14px;
}
nav .navbar .nav-links .links li a
{
    height: 100%;
    /* background: red; */
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}
nav .navbar .nav-links .links li .arrow
{
    height: 100%;
    width: 22px;
    text-align: center;
    color: #fff;
    line-height: 70px;
    transition: all 0.3s ease;
}
nav .navbar .nav-links .links li:hover .htmlcss-arrow,
nav .navbar .nav-links .links li:hover .js-arrow
{
    transform: rotate(180deg); /* Exact Opposite Of Icon's */
}
nav .navbar .nav-links .links .sub-menu
{
    position: absolute;
    top: 70px;
    left: 0;
    background: #3e8da8;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}
nav .navbar .nav-links .links .sub-menu li
{
    padding: 0 22px;
    box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.1);
}
nav .navbar .nav-links .links .sub-menu li .more-arrow
{
    line-height: 40px;
}
nav .navbar .nav-links .links .sub-menu li a
{
    /* color: #000; */
    font-size: 15px;
    font: 500;
}
nav .navbar .nav-links .links li:hover .htmlcss-sub-menu,
nav .navbar .nav-links .links li:hover .js-sub-menu
{
    display: block;
}
nav .navbar .nav-links .links .more .more-sub-menu
{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    display: none;
}
nav .navbar .nav-links .links .more:hover .more-sub-menu
{
    display: block;
}
nav .navbar .search-box
{
    position: relative;
    height: 40px;
    width: 40px;
    /* background: red; */
}
nav .navbar .search-box i
{
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
nav .navbar.showInput .search-box .input-box
{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
}
nav .navbar .search-box .input-box
{
    height: 60px;
    width: 300px;
    background: #3e8da8;
    /* background: red; */
    position: absolute;
    top: 80px;
    right: calc(100% - 40px);
    border-radius: 6px;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}
nav .navbar .search-box .input-box::before
{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    /* background: red; */
    background: #3e8da8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
    
}
nav .navbar .search-box .input-box input
{
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}
nav .navbar .bx-menu,
nav .navbar .nav-links .sidebar-logo .logo_name,
nav .navbar .nav-links .sidebar-logo .bx-x
{
    display: none;
}
@media screen and (max-width: 954px) 
{
    nav .navbar .nav-links
    {
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .logo a
    {
        font-size: 26px;
    }
    nav .navbar .nav-links .links li
    {
        padding: 0 10px;
    }
    nav .navbar .nav-links .links li a
    {
        font-size: 15px;
    }
}
/*  */

@media screen and (max-width: 800px)
{
    nav .navbar .nav-links
    {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 270px;
        width: 100%;
        background: #3e8da8;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
    }
    nav .navbar .nav-links .links
    {
        display: block;
        margin-top: 20px;
    }
    nav .navbar .nav-links .sidebar-logo
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .navbar .nav-links .sidebar-logo .logo_name,
    nav .navbar .nav-links .sidebar-logo .bx-x,
    nav .navbar .bx-menu
    {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
    }
    nav .navbar .bx-menu,
    nav .navbar .nav-links .sidebar-logo .logo_name,
    nav .navbar .nav-links .sidebar-logo .bx-x
    {
        display: block;
        cursor: pointer;
    }
    nav .navbar .nav-links .links li
    {
        display: block;
    }
    nav .navbar .nav-links .links .sub-menu
    {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        /* box-sizing: border-box; */
        box-shadow: none;
    }
    nav .navbar .nav-links .links .sub-menu li 
    {
        box-shadow: none;
        border-bottom: none;
    }
    nav .navbar .nav-links .links .more .more-sub-menu
    {
        position: relative;
        display: none;
        left: 0;
    }
    nav .navbar .nav-links .links li:hover .htmlcss-sub-menu,
    nav .navbar .nav-links .links li:hover .js-sub-menu
    {
        display: none;
    }
    nav .navbar .nav-links .links li .arrow
    {
        line-height: 40px;
    }
    nav .navbar .nav-links .links li:hover .htmlcss-arrow,
    nav .navbar .nav-links .links li:hover .js-arrow
    {
        transform: rotate(0deg);
    }
    nav .navbar .nav-links.show1 .links .sub-menu.htmlcss-sub-menu
    {
        display: block;
    }
    nav .navbar .nav-links .links .more:hover .more-sub-menu
    {
        display: none;
    }

    nav .navbar .nav-links.show2 .links .more .more-sub-menu
    {
        display: block;
    }
    
    nav .navbar .nav-links.show3 .links .sub-menu.js-sub-menu
    {
        display: block;
    }
    nav .navbar .nav-links.show2 .links .sub-menu .more-arrow
    {
        transform: rotate(90deg);
    }

    nav .navbar .nav-links.show1 .links li .htmlcss-arrow,
    nav .navbar .nav-links.show3 .links li .js-arrow
    {
        transform: rotate(180deg);
    }
} 
/*  */